.hiring-partners-section {
  text-align: center;
  padding: 40px;
  background: #ffffff;
  border-radius: 14px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 139vw;
  max-height: 103vh;
  width: 1334px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 64px;
  position: relative;
}

.hiring-partners-button {
  background-color: #0066ff;
  color: white;
  border: none;
  padding: 21px 36px;
  font-size: 21px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
  position: absolute;
  top: -20px;
}

.hiring-partners-button:hover {
  background-color: #0052cc;
}

.hiring-partners-trusted-text {
  color: #777;
  margin: 20px 0;
  font-size: 25px;
  font-family: Mona Sans, sans-serif;
}

.hiring-partners-logos-wrapper {
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding: 47px 0;
}

.hiring-partners-logos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  max-width: 102%;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
}

.hiring-partners-logo {
  max-height: 40px;
  object-fit: contain;
}
