.why-choose-us {
    padding: 60px 20px;
    background: #ffffff;
    font-family: "Arial", sans-serif;
  }
  
  .section-title-who {
    font-size: 12px;
    color: #6c757d;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
  }
  
  .main-title-who{
    font-size: 28px;
    font-weight: bold;
    color: #222;
    margin-bottom: 40px;
    line-height: 1.4;
  }
  
  .main-title .highlight {
    color: #007bff;
  }
  
  .feature-card-who {
    background: rgba(255, 255, 255, 0.8);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    text-align: left;
    position: relative;
    border: none;
    transition: all 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
  }
  
  .feature-card-who:hover {
    transform: translateY(-5px);
    box-shadow: 0px 12px 35px rgba(0, 0, 0, 0.15);
  }
  
  .feature-number-who {
    font-size: 22px;
    font-weight: bold;
    color: #000;
    position: absolute;
    top: 15px;
    left: 15px;
  }
  
  .feature-title{
    font-size: 14px;
    font-weight: bold;
    color: #666;
    margin-top: 40px;
    text-transform: uppercase;
  }
  
  .feature-desc {
    font-size: 18px;
    color: #111;
    margin-top: 10px;
    font-weight: bold;
  }
  
  .blue {
    border-top: 4px solid #007bff;
  }
  
  .orange {
    border-top: 4px solid #ff5722;
  }
  
  .purple {
    border-top: 4px solid #9c27b0;
  }
  
  .green {
    border-top: 4px solid #4caf50;
  }
  