.AI-banner-container {
  position: relative;
  width: 100%;
  max-width: 1280px;
  margin: auto;
  padding: 3rem;
  background: linear-gradient(to right, #6b46c1, #9f7aea);
  color: white;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.AI-banner-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.AI-banner-video {
  width: 500px;
}

@media (min-width: 768px) {
  .AI-banner-content {
    flex-direction: row;
  }
}

.AI-banner-text {
  flex: 1;
}

.AI-breadcrumb {
  font-size: 0.9rem;
  opacity: 0.8;
}

.AI-subheading {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 0.5rem;
}

.AI-heading {
  font-size: 38px;
  font-weight: 700;
  line-height: 53px;
  color: rgb(255, 255, 255);
  margin-top: 0.5rem;
}

.AI-banner-info {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 0.9rem;
  margin-top: 0.5rem;
}

.AI-star-icon {
  color: yellow;
}

.AI-learners {
  margin-left: 10px;
}

.AI-banner-video {
  position: relative;
  width: 400px;
  height: 500px;
  margin-top: 1rem;
}

@media (min-width: 768px) {
  .AI-banner-video {
    width: 224px;
    height: 144px;
  }
}

.AI-video-element {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.AI-play-button {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
  cursor: pointer;
}

.AI-play-icon {
  font-size: 1.5rem;
  color: white;
}
