.certificate-container {
  display: flex;
  border: 1px solid #dfdfdf;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  min-height: 1vh;
  padding: 40px;
  box-shadow: 0px 1px 7px rgb(0 0 0 / 8%);
}

.certificate-card {
  display: flex;
  justify-content: flex-start; /* Aligns content to the left */
  align-items: center; /* Keeps the content vertically aligned */
  width: fit-content; /* Ensures the card wraps around the image */
  padding: 24px;
  border-radius: 10px;
}

.certificate-image {
  width: 100%; /* Ensures it takes up full width of the card */
  display: flex;
  justify-content: flex-start; /* Moves the image to the left */
  align-items: center;
}

.certificate-img {
  width: auto; /* Maintains aspect ratio */
  max-width: 100%; /* Ensures responsiveness */
}

.certificate-description {
  width: 73%;
  padding: 60px;
  text-align: center;
  font-size: 24px;
  color: #272c37;
  margin: -18px 57px;
  text-align: center;
  font-family: "Roboto", sans-serif !important;
  line-height: 1.5;
}
pre {
  font-family: "Roboto", sans-serif !important;
  color: #272c37;
}

.highlight {
  font-weight: bold;
}
