/* HeroSection.css */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");
body {
  font-family: Roboto, sans-serif;
}

.main-hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 20px;
  color: white;
  height: 500px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2)),
    url("../Images/Home-Hero-Bg.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  animation: slider 9s infinite;
}
/* ------------------------- Silder Animation -------------------------------- */
@keyframes slider {
  0% {
    left: 0;
    background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.2)
      ),
      url("../Images/Home-Hero-Bg.png") no-repeat center center/cover;
  }
  35% {
    left: 0;
    background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.2)
      ),
      url("../Images/Home-br2.jpg") no-repeat center center/cover;
  }
  75% {
    left: 0;
    background: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.2)
      ),
      url("../Images/Home-br3.jpg") no-repeat center center/cover;
  }
}
/* ------------------------- END Silder Animation -------------------------------- */
.hero-highlight {
  /* background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  background: linear-gradient(90deg, #ff6a00, #ee0979);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.hero-highlight .hr {
  background: linear-gradient(90deg, #ff4206 0%, #f5ae23 100%);
  height: 2px; /* Adjust height as needed */
  border: none; /* Remove default border */
}
.hero-content {
  margin-left: 25%;
  text-align: start;
  max-width: 50%;
}
.hero h1 {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 20px;
}
.subheading {
  font-size: 1.2rem;
  margin-bottom: 20px;
}
.hero-button {
  padding: 10px 20px;
  background-color: #00bf63;
  /* background-color: #f58634; */
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}
.hero-button:hover {
  /* background-color: #d3742c; */
  background-color: #1f975d;
}
.hero-image {
  flex: 1;
  background: url("../Images/Home-Hero-Bg.png") no-repeat center center/cover;
  border-radius: 8px;
}
